<div class = "flex flex-col">
    <% 10.times do %>
        <div class="animate-pulse flex">
            <div class="bg-white h-6 ">
                <div>

                </div>
            </div>
        </div>
    <% end %>
</div>
