<div class="grid bg-white rounded-md">
    <div class="grid grid-rows-1 gap-5">
        <div class = "grid row-start-1">
            <%="#{post.creator.firstName} #{post.creator.lastName}"%>
        </div>

        <div class = "grid row-start-1">
             <li class="list-disc"><%="#{post.created_at.day.ordinalize} #{post.created_at.strftime("%B")} at #{post.created_at.strftime("%H:%M")}"%></li>
        </div>
    </div>
    <div><%= post.body %> </div>
</div>