<%= render 'shared/left-nav-bar'%>
<% if @posts.any?%>
    <%= turbo_frame_tag "posts" do %>
        <div class="mx-auto grid">
            <%@posts.each do |post|%>
                <%= render post %>
            <%end%>
        </div>
    <% end %>
<%end%>
